{{ define "main" }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2>{{ if .Draft }}DRAFT: {{end}}{{ .Params.title }}</h2>
						{{ with .Params.subtitle }}<p>{{ . }}</p>{{ end }}
					</header>
					<div class="box">
						{{ with .Params.images }}
							<span class="image featured"><img src="{{ index . 0 | absURL }}" alt=""></span>
						{{ end }}
						<div class="page-content">{{ .Content }}</div>
						{{ if or .Params.tags .Params.date }}
							<hr />
							<div id="meta">
							{{ with .Params.lastmod }}<p class="meta">{{ i18n "updated" }} {{ . | dateFormat "2 Gennaio 2006"}}</p>{{ end }}
							</div>
						{{ end }} {{/* if meta */}}
					</div>
				</section>
{{ end }}
